# dotenv environment variables file
.env

# dotenv environment variables file for development
.env.development.local

# dotenv environment variables file for test
.env.test.local

# dotenv environment variables file for production
.env.production.local

# Runtime data
.seed