.sidebar{
    display: flex;
    flex-direction: column;
    background: white;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    background: #f6f6f6;
    margin: 0px 20px;
}