.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    gap: 10px;
    height: 90vh;
    margin-bottom: 460px;
}

.new-collections h1{
    color: #171717;
    font-size: 34px;
    font-weight: 400;
}

.new-collections hr{
    width: 200px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

.collections{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 30px;
}

@media (max-width: 1280px){

    .new-collections{
        height: 80vh;
    }

}

@media (max-width: 950px){

    .new-collections{
        margin-bottom: 280px;
    }

    .new-collections h1{
        font-size: 30px;
    }
    .new-collections hr{
        width: 130px;
    }

}

