.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.relatedproducts h1{
    color: #171717;
    font-size: 30px;
    font-weight: 500;
}

.relatedproducts hr{
    width: 200px;
    height: 2px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item{
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

/* @media (max-width: 800px){
    .shopcategory-products{
        margin: 20px 100px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
}

@media (max-width: 600px){
    .shopcategory-products{
        grid-template-columns: repeat(3, 1fr);
        margin: 20px 80px;
    }
}

@media (max-width: 500px){
    .shopcategory-products{
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 50px;
    }
} */