.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}


.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
    
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 70px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    margin: 20px 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 80px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    width: 233px;
    height: 59px;
    border-radius: 35px;
    background: #ff7235;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 1280px){

    .shopcategory-sort{
        padding: 8px 20px;
    }
    .shopcategory-loadmore{
        width: 200px;
        height: 50px;
    }

}

@media (max-width: 950px){

    .shopcategory-products h1{
        font-size: 30px;
    }
    .shopcategory-sort{
        padding: 5px 20px;
        font-size: 12px;
    }
    .popular hr{
        width: 130px;
    }
    .shopcategory-loadmore{
        width: 180px;
        height: 48px;
        font-size: 15px;
    }

}

@media (max-width: 800px){

    .shopcategory-products{
        gap: 40px 10px;
        margin: 20px 10%;
    }
    .shopcategory-indexSort{
        margin: 0px 100px;
        gap: 40px 5px;
    }
    .shopcategory-loadmore{
        width: 180px;
        height: 42px;
        font-size: 13px;
    }

}

@media (max-width: 700px){

    .shopcategory-products{
        margin: 20px 5%;
    }
    .shopcategory-indexSort{
        margin: 0px 50px;
        gap: 40px 5px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
}

@media (max-width: 570px){

    .shopcategory-products{
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5em 1em;
    }
    .shopcategory-indexSort{
        margin: 0px 70px;
        margin-left: 30px;
        gap: 40px 5px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }

}

@media (max-width: 450px){

    .shopcategory-products{
        grid-template-columns: repeat(2, 1fr);
    }
    .shopcategory-loadmore{
        width: 130px;
        height: 42px;
        font-size: 13px;
    }

}

